body,html {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 25px;
}
body {
    height:  100vh;
    display: grid;
    grid-template-columns: 1fr 5.5fr;
    grid-template-rows: 1fr;
}
.container-left-hand{
    grid-column: 1 / 2;
    grid-row: 1 /2;
    background-color: rgb(74, 168, 255);
    display: flex;
    gap: clamp(25px, 5vh, 70px);
    flex-direction: column;
}
.container-right-hand{
    grid-column: 2 / 3;
}

ul {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2,30px);
    row-gap: 15px;
    column-gap: 20px;
}
li {
    list-style: none;
}
a:hover {
    color:rgb(53, 53, 61);
}
a{
    text-decoration: none;
    color: black;
}
.dashboardContainerLogo {
    display: flex;
    align-items: center;
    margin: 15px 15px 0px 15px;
}
.actionContainer, .settingContainer {
    margin-left: 15px;
}
.dashboardLogo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
input {
    border-radius: 15px;
    width: clamp(150px,30vw,600px);
    height: clamp(10px,3vh,30px);
    background-color: rgba(128, 128, 128, 0.37);
    border-style: none;
    font-size: 20px;
}
.header {
    padding-left: clamp(50px,10vw,100px);
    padding-right: clamp(50px,10vw,100px);
    padding-top: clamp(5px,3vh,30px);
    padding-bottom: clamp(5px,3vh,30px);
}