@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;800&display=swap');
body,html {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 1.5rem;
}
body {
    height:  100vh;
    font-family: "Rubik", san-serif;
    display: grid;
    grid-template-columns: max(300px,20%);
    grid-template-rows: 1fr;
}
.container-left-hand{
    box-shadow: 2px 2px 5px rgb(148, 148, 148);

    background: linear-gradient(0deg, rgba(0,140,255,1) 25%,  rgba(79,177,237,1) 73%);
    display: flex;
    gap: clamp(25px, 5vh, 70px);
    flex-direction: column;
}
.container-right-hand{
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

ul {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2,30px);
    row-gap: 15px;
    column-gap: 20px;
}
li {
    list-style: none;
}
a:hover {
    color:rgb(53, 53, 61);
}
a{

    text-decoration: none;
    color: black;
}
.dashboardContainerLogo {
    display: flex;
    align-items: center;
    margin: 15px 15px 0px 15px;
}
.actionContainer, .settingContainer {
    margin-left: 15px;
}
.dashboardLogo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
input {
    border-radius: 15px;
    padding-left: 10px;
    width: clamp(150px,40vw,700px);
    height: clamp(10px,3vh,30px);
    background-color: rgba(177, 177, 177, 0.37);
    border-style: none;
    font-size: 20px;
}
.header {
    display: flex;
    flex-direction: column;
    gap: 25px;
    grid-row: 1 / 2;
    box-shadow: 5px 5px 5px rgb(148, 148, 148);
    padding-left: clamp(50px,10vw,100px);
    padding-right: clamp(50px,10vw,100px);
    padding-top: clamp(3px,2vh,15px);
    padding-bottom: clamp(3px,2vh,15px);
}
.upperContainer {
    display: flex;
    gap:15px;
}
.lowerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
form {
    display: flex;
    align-items: center;
}
.userpfpContainer{
    display: flex;
    gap:20px;
    align-items: center;
    margin-left: clamp(15px,5vw,100px);
}
img {
    align-self: center;
}
.profilePic {
    background-color: red;
    border-style: solid;
    border-radius: 50px;
    height: 60px;
    width: 65px;
}
.username {
    font-size: 1rem;
}
small {
    font-size: 0.7rem;
}
.userGreetingContainer {
    display: flex;
    gap: 15px;
}
.userTextGreetingContainer {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.buttonSocials {
    width:150px;
    height:45px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: rgba(0,140,255,1);
}
.buttonContainer{
    display: flex;
    gap: 15px;
}
.projectsContainer {
    display: grid;

}
.mainContentContainer {
    padding: 30px 30px 0 0;
    display: grid;
    background-color: rgba(219, 219, 219, 0.486);
    box-shadow: 10px 10px 10px rgb(148, 148, 148);
    grid-template-columns: 3fr 1fr;
}
h1 {
    font-size: .8rem;
    margin: 0;
    margin-bottom: 10px;
}
h3 {
    font-size: .8rem;
    margin: 10px 0px 5px 0px;

}
.anoucementTextParagraph {
    font-size: 0.8rem;
}
.annoucement1, .annoucement2, .annoucement3 {
    display: flex;
    flex-direction: column;
    gap:1px;
    height: clamp(50px,10vh,120px);
    border-bottom: solid 1px rgb(116, 116, 116);
     overflow: scroll;
}
.annoucements,.trending {
    background-color: rgb(199, 199, 199);
    box-shadow: 5px 5px 10px rgb(163, 162, 162);
    border-radius: 10%;
    width: clamp(50px,15vw,300px);
    padding: 25px;
}
.sidebarContainer {
    display: flex;
    flex-direction: column;
    gap: max(45px,5vh);
}
.break {

    background-color: black;
    border-radius: 15%;
    height: 2px;
    width: 150px;
    align-self: center;

}
.trending {
    display: flex;
    flex-direction: column;
    gap:15px;
}
#pic1 {
    background-color: wheat;
}
#pic2 {
    background-color: springgreen;
}
#pic3 {
    background-color:  cadetblue;
}
#pic4 {
    background-color: royalblue;
}